.bnz-calendar {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  position: absolute;
  width: 300px;
  padding: 5px;
  font-size: 14px;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.bnz-calendar,
.bnz-calendar * {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  font-family: Verdana, Geneva, sans-serif;
}
.bnz-calendar .navi {
  display: block;
  width: 100%;
  overflow: hidden;
  margin-bottom: 5px;
}
.bnz-calendar .navi > div {
  display: block;
  float: left;
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: 14%;
}
.bnz-calendar .navi > div:not([class]) {
  cursor: pointer;
}
.bnz-calendar .navi > div.calendar-title {
  width: 72%;
}
.bnz-calendar .header {
  background: #f7f7f7;
  margin-bottom: 5px;
}
.bnz-calendar .header > div {
  display: inline-block;
  color: #999;
  width: 14.285714285714286%;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
.bnz-calendar .week > div {
  display: inline-block;
  text-align: right;
  width: 14.285714285714286%;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
}
.bnz-calendar .week > div[data-date]:not(.disabled) {
  color: #333;
  cursor: pointer;
}
.bnz-calendar .week > div[data-date]:not(.disabled):hover,
.bnz-calendar .week > div[data-date]:not(.disabled):active {
  background: #eee;
}
.bnz-calendar .week > div.disabled {
  color: #eee;
}
.bnz-calendar select {
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 30px;
  line-break: 30px;
  background: #fff;
  border-radius: 0;
  border: 0;
  font-size: 1em;
  padding: 0 10px;
  cursor: pointer;
}
.bnz-calendar select + select {
  border-left: 0;
}
.bnz-calendar select.calendar-month {
  width: 55%;
}
.bnz-calendar select.calendar-year {
  width: 35%;
}
.bnz-calendar .calendar-title {
  text-align: center;
}
.bnz-calendar .today {
  background-color: #ffe9c6;
  font-weight: bold;
}
.bnz-calendar .today.disabled {
  color: #b1b1b1 !important;
  background: #fff;
}
.bnz-calendar .selected {
  background-color: #c9ff8b;
}
.bnz-calendar-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
