@import 'calendar'

html
body
    height 100%
    padding 0
    margin 0

body

    position relative

    .div1
    .div2
        padding 30px 30px 0 30px


    .div1
        position absolute
        padding 0
        top 300px
        left 200px

input
    font-size 16px
    width 100px
    line-height 26px
    padding 0 5px
    border 1px solid #ccc
