.bnz-calendar

    &
    & *
        -webkit-box-sizing border-box !important
        -moz-box-sizing border-box !important
        box-sizing border-box !important
        font-family Verdana, Geneva, sans-serif

    $padding = 5px

    display none
    background-color #fff
    border 1px solid #ccc
    position absolute
    width 300px
    padding $padding
    font-size 14px

    -khtml-user-select none
    -webkit-user-select none
    -moz-user-select none
    user-select none


    .navi
        $height = ($padding * 6)

        display block
        width 100%
        overflow hidden
        margin-bottom $padding

        > div
            display block
            float left
            text-align center

            height $height
            line-height @height

            $width = 14

            width ($width)%

            &:not([class])
                cursor pointer

            &.calendar-title
                width (100 - $width * 2)%


    .header
        background #f7f7f7

        margin-bottom $padding

        > div
            display inline-block
            color #999
            width (100 / 7)%
            text-align center
            height ($padding * 6)
            line-height @height


    .week

        > div
            display inline-block
            text-align right
            width (100 / 7)%
            height ($padding * 7)
            line-height @height
            padding 0 ($padding * 2)

            &[data-date]:not(.disabled)
                color #333
                cursor pointer

                &:hover
                &:active
                    background #eee

            &.disabled
                color #eee


    select
        -moz-appearance none
        -webkit-appearance none

        height ($padding * 6)
        line-break @height

        background #fff
        border-radius 0
        border 0
        font-size 1em

        padding 0 ($padding * 2)
        cursor pointer

        & + select
            border-left 0

        &.calendar-month
            width 55%

        &.calendar-year
            width 35%


    .calendar-title
        text-align center


    .today
        background-color #ffe9c6
        font-weight bold

        &.disabled
            color #b1b1b1 !important
            background #fff

    .selected
        background-color #c9ff8b


    &-backdrop
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        width 100%
        height 100%
