doctype html
html
   head
      title bnz Calendar
      //-
         define function
         script(src= 'js/vendors.js')

      script(src= 'js/calendar.js')
      link(href= 'css/styles.css' rel= 'stylesheet')

   body
      .div1: input(type= 'text', class= 'datepicker', tabindex=2, value= '2014-12-01')
      .div2: input(type= 'text', class= 'datepicker', tabindex=1)
      script
         :coffee(bare= true)
            # this works with define function in global
            # BnzCalendar = require 'BnzCalendar'
            # window.calendar = new BnzCalendar
            #    selector: '.datepicker'

            window.calendar = new BnzCalendar
               selector: '.datepicker'
               disabledFrom: 'today'
               disabledTill: 30

            document.addEventListener 'bnzCalendarDateChange', (e) ->
               console.log e.target.value
            , no


            console.log window.calendar.dateDiff '2015-11-10', '2015-12-12'
